@{
    ViewBag.Title = "About The Armoury";
}
<h2>@ViewBag.Title.</h2>


<p>
    I have been creating chainmail works for four years. <br />
    My first project was a chainmail shirt for a personal costume. <br />
    From there my interest scaled to span multiple genres <br />
    Today I have sculpture, jewelry, combat grade armour, costume works and more available!
</p>


