@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<address>
    DevCodeCamp<br/>
    333 N. Plankinton Ave<br />
    Milwuakee, WI 53217<br />

</address>

<address>
        <strong>Developers:</strong>   Robert Starrett<br />
        <strong>Email:</strong> <a href="mailto:berdo272@yahoo.com">berdo272@yahoo.com</a><br/>
        <strong>Phone:</strong> (414) 881 9188
</address>