@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Sentinel's Armoury</h1>
    <p class="lead"</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Marketplace</h2>
        <p>
            Choose from a number of products that are finished and ready to buy today!
            Products listed are unique, and are sold as listed. All items are made of high quality materials, and are made with attention to detail and workmanship.
        </p>
        <p>@Html.ActionLink("Go To Marketplace", "Marketplace", null, new { @class = "btn-primary btn" })</p>
    </div>
    <div class="col-md-4">
        <h2>Custom Orders</h2>
        <p>Not sure what you need, or have a specific idea you would like made into reality? 
        Fill out a form to request a custom commision. 
        I am able to pair my expertise with your vision to create a truly one of a kind product.</p>
        <p>@Html.ActionLink("Custom Order", "CustomOrder", null, new { @class = "btn-primary btn" })</p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>@Html.ActionLink("Update User Info", "UpdateUserInformation", null, new { @class = "btn-primary btn" })</p>
    </div>*@
</div>