
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Unsucessful</h2>

Something has gone wrong with the paypal payment :/ <br />
Please Try Again, and if the problem perstists please contact the website administrator!

