
@{
    ViewBag.Title = "IndexFinished";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexFinished</h2>

@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypal", "Paypal", null, new { @class = "btn-primary btn" })