
@{
    ViewBag.Title = "IndexCustom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Options</h2>

@Html.ActionLink("Pay with Paypal Account", "PaymentWithPaypalCustom", "Paypal", null, new { @class = "btn-primary btn" })