
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Successful</h2>

<p>
    Thank You for you purchase! <br />
    It is my goal to have your item to you as soon as possible!<br />
    If you have any aditional questions, please feel free to contact me using the information provided!
</p>